<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.nodesigner.meaoo.androidsample">

  <uses-permission android:name="android.permission.INTERNET" />
  <application
      android:allowBackup="true"
      android:banner="@mipmap/ic_launcher"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppBaseTheme"
      android:usesCleartextTraffic="true">

    <activity
        android:name="fr.nodesigner.meaoo.mqtt.androidsample.activity.MainActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
        android:name="fr.nodesigner.meaoo.mqtt.androidsample.activity.MissionActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppBaseTheme" />

    <activity
        android:name="fr.nodesigner.meaoo.mqtt.androidsample.activity.MissionCompleteActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppBaseTheme" />

  </application>

</manifest>
